<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Christian Winkler">
  {{#if title}}
  <meta property="og:title" content="{{title}}">
  {{else}}
  <meta property="og:title" content="Christian Winklers Blog">
  {{/if}}
  {{#if name}}
  <meta property="og:url" content="https://blog.cwkr.de/{{name}}/">
  <meta property="og:type" content="article">
  <meta property="og:description" content="">
  {{else}}
  <meta property="og:url" content="https://blog.cwkr.de/">
  {{/if}}
  <meta property="og:locale" content="de_DE">
  <meta property="og:site_name" content="Christian Winklers Blog">
  <link rel="stylesheet" href="/styles/bundle.min.css">
  <title>{{#if title}}{{title}} - {{/if}}Christian Winklers Blog</title>
</head>
<body>
<header>
  <h1><a href="/">Christian Winklers Blog</a></h1>
  <div>Über Softwareentwicklung, Filme und was mich sonst noch so bewegt</div>
</header>
<main>
{{> @partial-block }}
</main>
<footer>
  <a href="/impressum.html">Impressum und Datenschutz</a> | Dieses Werk ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Namensnennung 4.0 International Lizenz</a>.
</footer>
</body>
</html>
